* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensansbold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

body {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.list-reset {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 2px solid #7943A4;
    transition: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.title-reset {
    margin: 0;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

.header-container {
    padding-top: 20px;
    padding-bottom: 23px;
    background-color: #000;
    position: relative;
    z-index: 50000;
}

.header__nav {
    align-items: center;
    padding: 0 180px;
}

.nav__list {
    display: flex;
    align-items: center;
    padding-right: 99.5px;
}

.nav__item:not(:first-child) {
    margin-left: 65.5px;
}

.nav__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #fff;
    transition: color 0.5s ease-in-out;
}

.nav__link:hover {
    color: #C283F3;
}

.nav__link:active {
    color: #7943A4;
}

.header__button {
    padding: 0;
    margin: auto;
    align-items: center;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: #fff;
    transition: color 0.5s ease-in-out;
}

.header__button:focus {
    outline: 2px solid #7943A4;
}

.header__button:hover {
    color: #C283F3;
}

.header__button:active {
    color: #7943A4;
}

.header__button--svg svg path {
    transition: fill 0.5s ease-in-out;
}

.header__button--svg:hover svg path {
    fill: #C283F3;
}

.header__button--svg:active svg path {
    fill: #7943A4;
}

.menu {
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.menu__list > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.menu__list > li:last-child {
    margin-right: 0;
}

.menu__nav a {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
}

.submenu__list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 300px;
    max-height: 250px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 16px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.menu__nav .submenu__list {
    visibility: hidden;
    opacity: 0;
}

.menu__nav ul li:hover .submenu__list {
    visibility: visible;
    opacity: 1;
}

.submenu__link {
    font-size: 16px;
    line-height: 19px;
    width: 73%;
    color: #fff;
    background-repeat: no-repeat;
    padding: 15px;
    margin: 38px;
}

.submenu__link:hover {
    outline: 2px solid #9D5CD0;
}

.menu__arrow svg path {
    transition: stroke 0.5s ease-in-out;
}

.menu__arrow:hover svg path {
    stroke: #C283F3;
}

.menu__arrow:active svg path {
    stroke: #7943A4;
}

.button__search {
    background-color: transparent;
    border: none;
}

.button__search:focus {
    outline: none;
}

.search__form {
    margin-top: 25px;
    margin-left: 310px;
}

form:focus-within {
    outline: 2px solid #7943a4;
    width: 250px;
    height: 33px;
}

.button__search--img svg rect, .button__search--img svg path {
    transition: fill 0.5s ease-in-out;
}

.button__search--img:hover svg rect {
    fill: #C283F3;
}

.button__search--img:hover svg path {
    fill: #C283F3;
}

.header__search {
    position: absolute;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    color: #7943a4;
    outline: none;
    transition: border-bottom 0.5s ease-in-out;
}

.header__search:hover {
    border-bottom: 1px solid #C283F3;
}

.menu__link {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    transition: color 0.5s ease-in-out;
}

.menu__link:hover {
    color: #C283F3;
}

.menu__link:active {
    color: #7943A4;
}

.menu__item:not(:first-child) {
    margin-left: 72px;
}

.header__search::placeholder {
    color: #fff;
}

.custom__scroll {
    height: 300px;
}

.simplebar-content-wrapper {
    overflow: auto;
  }

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
  }

.hero {
    margin-top: -170px;
    height: 800px;
    position: relative;
}

@keyframes banner {
	0% {
		transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(1.1);
  }

	100% {
		transform: scale(1);
	}
}

.hero__image img {
	  width: 100%;
	  transform-origin: bottom right;
    animation: banner 120s ease-in-out;
}

.hero__image {
    position: absolute;
    bottom: 0;
	  left: 0;
	  z-index: 1;
}

.hero__container {
    padding-top: 240px;
    position: relative;
	  z-index: 50;
}

.hero__title {
    font-family: 'Open Sans Bold';
    width: 36%;
    font-size: 72px;
    line-height: 82px;
    color: #fff;
    margin-bottom: 0;
}

.hero__text {
    width: 39%;
    letter-spacing: 0.95px;
    padding-top: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.hero__button {
    padding: 0;
    margin-top: 72px;
    border: 2px solid transparent;
    border-radius: 100px;
    width: 314px;
    height: 70px;
    background-color: #9D5CD0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.85px;
}

.hero__button:focus {
    outline: none;
    border: 2px solid #7943A4;
}

.hero__button:hover {
    border: 2px solid #C283F3;
    transition: border 0.5s ease-in-out;
}

.hero__button:active {
    background-color: #7943A4;
    transition: background-color 0.5s ease-in-out;
}
